<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Saira" rel="stylesheet">
	<link href="/messageCenter.css" rel="stylesheet" type="text/css">
	<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8"> -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type='text/javascript'>var username =<%-JSON.stringify(data)%>.username;</script>
	<script type='text/javascript'>var messages =<%-JSON.stringify(data)%>.messages;</script>
	<script src="/js/messageDisplay.js"></script>
	
</head>
<body>
	<div id='banner' class='msgBaner'> <h3><font size=10px>Pic</font><font color='orange' size=10px>It</font></br><font size=5px>Message</font></h3> </div>
	<ul id="msgs"> </ul>
	
</body>

</html>
