<html>
<head>

  <link rel="stylesheet" type="text/css" href="startScreen.css"

</head>

</body>

    <h1 id = appName> Pic.<span style="color:#ff521e">it</span></h1>
    <div class = "whiteBox">
      <div id = "slogan"> Sign up to explore pictures, and set them as your
        desktop background. </div>
      <div class = "inputContainer">
        <form>
          <ul class = "flex-outer">
            <li>
              <input type = "text" id="firstName" placeholder="First Name">
            </li>
            <li>
              <input type = "text" id="lastName" placeholder="Last Name">
            </li>
            <li>
              <input type = "text" id="userName" placeholder="Username">
            </li>
            <li>
              <input type = "text" id="password" placeholder="Password">
            </li>
          </ul>
        </form>
      </div>
      <div class = "signUpWrapper">
        <button id = "signUpButton"> Sign up </button>
      </div>
      <p id= "loginLink"> Have an account? <span style="color:#ff521e">Log in</span> </p>
    </div>



</body>



</html>
