<html>
<head>
  <link rel="stylesheet" type="text/css" href="startScreen.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="./js/startScreen.js"></script>
  <script src = "https://rawgit.com/Manak/dommy/master/dommy.js"></script>
  <title> Pic.it - signup </title>
</head>
</body>
    <div class = "login-container">
      <h1 id = appName> Pic.<span style="color:#ff521e">it</span> </h1>
      <div class = "input-container">
              <input type = "text" id="firstName" placeholder="First Name">
              <input type = "text" id="lastName" placeholder="Last Name">
              <input type = "text" id="userName" placeholder="Username">
              <div id = "userNameError"> Username is already taken. </div>
              <input type = "password" id="password" placeholder="Password">
              <button id = "signUpButton"> Sign up </button>
              <div id = "missingFields"> Missing fields. </div>
              <p id= "loginLink"> Have an account? <a  style="color:#ff521e" href="loginpage">Log in</a></p>
      </div>
    </div>
</body>
</html>
